/* Widget styles */
#wrapper {
  position: fixed;
  z-index: 1000;
  width: 350px;
  height: 400px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

#header {
  background: #000091;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
}

h6 {
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

#close {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

form {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#email {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  font-family: inherit;
  font-size: 14px;
}

#feedback-text {
  flex: 1;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  font-family: inherit;
  font-size: 14px;
  resize: none;
}

#submit {
  background: #000091;
  color: white;
  border: 2px solid #000091;
  border-radius: 8px;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

#submit:hover,
#close:hover {
  background: #1212ff;
}

#feedback-text:focus,
#email:focus,
#submit:focus {
  outline: 2px solid #0a76f6;
  border-color: white;
}

#close:focus {
  outline: 2px solid white;
}

#status {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

#success {
  display: none;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

#success i {
  background: #27a658;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: normal;
}

#success p {
  color: #0f4e27;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

#error {
  color: #dc3545;
  margin-bottom: 12px;
}
#error:empty {
  margin: 0;
}

/* Responsive */
@media (max-width: 420px) {
  #wrapper {
    width: 100%;
    right: 0px !important;
    border-radius: 0;
  }
}
